button:hover{
    background-color: rgb(1, 18, 170);
    color: yellow;
    border-color: yellow;
}

#card1{
    border-color: white;
    border-width: 2%;
    border-radius: 2%;
    border-style: double;
    width: fit-content;
}


#card2{
    border-color: white;
    border-width: 2%;
    border-radius: 2%;
    border-style: double;
    width: fit-content;
}


