body{
    background-color:#4682B4;
    color: white;
    stroke-width: 1%;
    font-weight: bold;
    align-items: center;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
}

#baner{
    width: 100%;
    height: 300px;
}

img{
    width: 400px;
    height: 370px;
}


button{
    width: 110px;
    height: 80px ;
    border-color: rgb(0, 0, 0);
    color: white;
    background-color: rgb(245, 118, 0);
    font-weight: bold;
    margin-top: 20px;
}

button:hover{
    color: yellow;
    border-color: yellow;
}

#proceed{
    background-color: rgb(134, 223, 0);
    width: 200px;
    height: 100px;
    align-self: center;
}

#textinho{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
